---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Avatar from "../components/Avatar.astro";
import FaqCard from "../components/FaqCard.astro";
import PricingCard from "../components/PricingCard.astro";
import CTA from "../layouts/CTA.astro";

---

<Layout title="Welcome!">
	<main>
		<section id="hero">
			<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">

				<p class="font-fieldgothic mb-4">Fedor & Catia</p>
				<p class="inline-flex justify-between items-center py-1 px-4 mb-7 text-sm text-neutral-700 bg-gray-100 rounded-full dark:bg-neutral-800 dark:text-white">
					<span class="text-sm font-medium capitalize">
						UX partnership for fast-growing startups
					</span>
				</p>
				<h1 class="mb-4 text-4xl font-fieldgothic capitalize tracking-tight leading-none text-neutral-900 md:text-5xl lg:text-6xl dark:text-white">
					Test your hypothesis faster and turn your MVP into a sticky product
				</h1>
				<p class="mb-8 text-lg font-normal text-neutral-500 lg:text-xl sm:px-16 xl:px-48 dark:text-neutral-400">
					Instead of months of RnD, we deliver you a coded design, test it with your customers and make changes in real-time. It allows you to predict and avoid failure before you’ve burnt all your or your investors’ money.
				</p>
				<Button link="#">Start a partnership</Button>
			</div>
		</section>
		<section>
			<p class="text-4xl font-fieldgothic mb-6 text-center">Build → Test → Learn</p>
		</section>
		<section id="value">
			<CTA>
				<h2 class="mb-4 text-4xl tracking-tight font-fieldgothic text-gray-900 dark:text-white">
					Lean UX Approach
				</h2>
				<p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
					We adjusted the research and design process for startups’ needs. We dive deep into users’ worlds and work with the actual product. As a result, within two weeks you’ll get an actual user journey and build, test & update the real working product.
				</p>
			</CTA>
			<CTA>
				<h2 class="mb-4 text-4xl tracking-tight font-fieldgothic text-gray-900 dark:text-white">
					Pay for Sprint
				</h2>
				<p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
					Our pricing is based on sprints. To help you test one hypothesis, we need 2 weeks. You can pay us for that sprint and then continue our partnership when you need to go further.
				</p>
			</CTA>
			<CTA>
				<h2 class="mb-4 text-4xl tracking-tight font-fieldgothic text-gray-900 dark:text-white">
					80% result for <span class="whitespace-nowrap">20% effort</span>
				</h2>
				<p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
					3 days in deep contact with users — get User Journey and environment.<br>
					2 days for rapid building, testing & updating the actual product. Not a prototype.
				</p>
			</CTA>
		</section>
		<section id="pricing">
			<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
				<div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
					<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
						Pricing TODO: Write an action
					</h2>
					<p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
						/pricing description.
					</p>
				</div>
				<div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
					<PricingCard></PricingCard>
				</div>
			</div>
		</section>
		<section id="faq">
			<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
				<h2 class="mb-8 text-4xl tracking-tight font-fieldgothic">Frequently Asked Questions</h2>
				<div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-neutral-700 md:grid-cols-2">
					<FaqCard>
						<span slot="question">
							Am I wrong?
						</span>
						<span slot="answer">
							No. You are not
						</span>
					</FaqCard>
				</div>
			</div>
		</section>
		<section id="Chat">
			<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
				<div class="mx-auto max-w-screen-sm text-center">
					<h2 class="mb-4 text-4xl tracking-tight font-fieldgothic leading-tight text-gray-900 dark:text-white">
						Have More Questions?
					</h2>
					<p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">
						Get all your questions answered
					</p>
					<Button>Let's Chat!</Button>
					<!-- TODO: Remove Button, Add Form -->
				</div>
			</div>
		</section>
		<section id="footer">
		</section>
		<!--
		<div class="fixed bottom-5">Menu</div>
		<h2 class="text-2xl">Our Process</h2>
			<div class="mb-4">
				<caption>Within Three Days</caption>
				<h3>Insights from UX review</h3>
				<p>image</p>
				<p>
					You will receive a report with insightful data, including: The
					user's feelings when using your product An evaluated list of UX
					issues UI prototypes free from UX issues
				</p>
			</div>
			<div class="mb-4">
				<caption>In A Week</caption>
				<h3>User-tested high-fidelity prototype</h3>
				<p>image</p>
				<p>
					We conduct combined testing with five real customers.
					During the process, we go with the customer through your product and then adjust the prototype to solve any issues.
				</p>
			</div>
			<div class="mb-4">
				<caption>In Two Weeks</caption>
				<h3>Brand new UI on air</h3>
				<p>image</p>
				<p>
					Once the research is completed, we begin building the UI.
					You'll receive the results in Figma, HTML/CSS, or directly in React components
					Our design is based on the Tailwind and Flowbite design systems.
				</p>
			</div>
		
		<h2 class="text-2xl">Our Clients</h2>
			<p>Practicum</p>
			<p>RZLT Group</p>
			<p>???</p>
		<h2 class="text-2xl">Articles</h2>
				<div>
					<h4>You can build a perfect MVP</h4>
					<p>How to balance quality of UX and development speed</p>
					<p>A bad UX could kill the growth of a startup.<br>
						Or worse: it could hide the early signs of a found PMF. 
						You should aim to do as better UX as possible even at the first launch.</p>
				</div>
		<p class="text-xl text-center">Let us handle your design while you focus on what you're best at</p>
		<h2>Pricing</h2>
			<p>two+one</p>
		<h2>FAQ</h2>
		<h2>About</h2>
		<h2>CTA-button</h2>
		<h2>Contacts</h2>
		 -->
	</main>
</Layout>

<style is:global>
</style>