---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Avatar from "../components/Avatar.astro";

---

<Layout title="Welcome!">
	<main>
		<section id="hero">
			<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">

				<p class="font-fieldgothic mb-4">Fedor & Catia</p>
				<p class="inline-flex justify-between items-center py-1 px-4 mb-7 text-sm text-neutral-700 bg-gray-100 rounded-full dark:bg-neutral-800 dark:text-white">
					<span class="text-sm font-medium">
						UX partnership for early-stage startups
					</span>
				</p>
				<h1 class="mb-4 text-4xl font-fieldgothic tracking-tight leading-none text-neutral-900 md:text-5xl lg:text-6xl dark:text-white">
					Make Your Customers Stick <span class="whitespace-nowrap">To Your Product</span>
				</h1>
				<p class="mb-8 text-lg font-normal text-neutral-500 lg:text-xl sm:px-16 xl:px-48 dark:text-neutral-400">
					Make your product easy-to-use from a first day with our service. 
					We do a full cycle UI/UX design within two weeks: from a deep user research and prototyping, <span class="whitespace-nowrap">to testing and implementing.</span>
				</p>
				<Button link="#">Start a partnership</Button>
			</div>
		</section>
		<!--
		<div class="fixed bottom-5">Menu</div>
		<h2 class="text-2xl">Our Process</h2>
			<div class="mb-4">
				<caption>Within Three Days</caption>
				<h3>Insights from UX review</h3>
				<p>image</p>
				<p>
					You will receive a report with insightful data, including: The
					user's feelings when using your product An evaluated list of UX
					issues UI prototypes free from UX issues
				</p>
			</div>
			<div class="mb-4">
				<caption>In A Week</caption>
				<h3>User-tested high-fidelity prototype</h3>
				<p>image</p>
				<p>
					We conduct combined testing with five real customers.
					During the process, we go with the customer through your product and then adjust the prototype to solve any issues.
				</p>
			</div>
			<div class="mb-4">
				<caption>In Two Weeks</caption>
				<h3>Brand new UI on air</h3>
				<p>image</p>
				<p>
					Once the research is completed, we begin building the UI.
					You'll receive the results in Figma, HTML/CSS, or directly in React components
					Our design is based on the Tailwind and Flowbite design systems.
				</p>
			</div>
		<h2 class="text-2xl">Approach</h2>
			<p>- Research is core to understanding users' needs<br>
				- Research is a time-consuming, non-scalable, expensive thing<br>
					Only 36% of product teams conduct research studies after the launch<br>
					78% of product professionals believe their company doesn't do enough research studies or could do more studies<br>
				- We solve this problem by achieving 80% value with 20% of efforts<br>
				- We do not make surveys, competitive analysis or usability testing. It's time-consuming and not effective.</p>
		<h2 class="text-2xl">Our Clients</h2>
			<p>Practicum</p>
			<p>RZLT Group</p>
			<p>???</p>
		<h2 class="text-2xl">Articles</h2>
				<div>
					<h4>You can build a perfect MVP</h4>
					<p>How to balance quality of UX and development speed</p>
					<p>A bad UX could kill the growth of a startup.<br>
						Or worse: it could hide the early signs of a found PMF. 
						You should aim to do as better UX as possible even at the first launch.</p>
				</div>
		<p class="text-xl text-center">Let us handle your design while you focus on what you're best at</p>
		<h2>Pricing</h2>
			<p>two+one</p>
		<h2>FAQ</h2>
		<h2>About</h2>
		<h2>CTA-button</h2>
		<h2>Contacts</h2>
		 -->
	</main>

	<footer>
		<div>footer</div>
	</footer>
</Layout>

<style is:global>
</style>