---

---

<div class="pt-4 pb-12 mb-16 sm:mb-24 mx-4 px-4 xl:mx-auto max-w-screen-xl sm:pt-8 sm:pb-16 lg:px-8 rounded-2xl border border-neutral-100 shadow-lg dark:border-neutral-600 dark:bg-gradient-to-tr dark:from-white/5 dark:to-transparent">
    <slot />
</div>